.header-nav.light {
  background-color: var(--header-bg-light);
  color: var(--header-text-light);
}

.header-nav.light .header-logo, .header-nav.light .header-link {
  color: var(--header-text-light);
}

.header-nav.light .header-link:hover {
  text-decoration: underline;
}

.header-nav.light .header-logout-btn {
  background-color: #e74c3c;
  color: white;
}

.header-nav.light .header-logout-btn:hover {
  background-color: #c0392b;
}

.header-nav.light .theme-toggle-btn {
  background-color: #555;
  color: white;
}
